<!--<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-group pull-right">
            <button class="btn btn-success">New Document</button>
        </div>
        <h4>Document</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <app-contact-item *ngFor="let document of documents" [document]="document" (click)="onSelected(document)"></app-contact-item>
            </div>
        </div>
    </div>
  </div>
      -->